<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="device-width, initial-scale=1.0, shrink-to-fit=no"/>
      <title>Title</title>
  </head>
  <body>
    <div>
        <h2>이것은 현민이의 머리입니다.</h2>
    </div>

    <div layout:fragment="content">
    </div>

    <div>
        <h2>이것은 현민이의 발입니다.</h2>
    </div>

    <th:block layout:fragment="script">

    </th:block>
  </body>
</html>