<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
      lang="en">
<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <div class="card-title mb-3"><h3>Read Item</h3></div>
            <input type="hidden" class="form-control" name="id" th:value="${itemDTO.id}" readonly>
            <div class="card-group mb-3">
                <div class="input-group">
                    <span class="input-group-text">Update Date</span>
                    <input type="text" class="form-control" name="updatedate" th:value="${itemDTO.updatedate}" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-text">Register Date</span>
                    <input type="text" class="form-control" name="regdate" th:value="${itemDTO.regdate}" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-text">Name</span>
                    <input type="text" class="form-control" name="name" th:value="${itemDTO.name}" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-text">Price</span>
                    <input type="number" class="form-control" name="price" th:value="${itemDTO.price}" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-text">Stock Count</span>
                    <input type="number" class="form-control" name="stockNumber" th:value="${itemDTO.stockNumber}" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-text">Item Detail</span>
                    <textarea class="form-control" name="itemDetail" readonly>[[${itemDTO.itemDetail}]]</textarea>
                </div>
                <div class="input-group">
                    <span class="input-group-text">Sell Status</span>
                    <input type="text" class="form-control" name="itemSellStatus" th:value="${itemDTO.itemSellStatus}" readonly>
                </div>
            </div>
            <div class="input-group mb-3">
                <a th:href="@{/item/modify(id=${itemDTO.id})}"><button type="button" class="btn btn-outline-primary">Modify</button></a>
                <a th:href="@{/item/delete(id=${itemDTO.id})}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                <a th:href="@{/item/list}"><button type="button" id="btnList" class="btn btn-outline-secondary">To List</button></a>
            </div>
        </div>
    </div>
</div>